## Assignment 2

### 1.What are the two values of the Boolean data type? How do you write them?

###### True and False are the two values and keywords of the boolean data type and they are written as `True` and `False`

### 2. What are the three different types of Boolean operators?

###### `and`, `or`, `not` are the three different types of boolean operators

### 3. Make a list of each Boolean operator&#39;s truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate ).

###### truth tables

In [79]:
import pandas as pd
a = {"A":(0,0,1,1),"B":(0,1,0,1),"A&B":(0,0,0,1)}
a=pd.DataFrame(a,index=[1,2,3,4])
print("Truth table for and operator")
a

Truth table for and operator

   A  B  A&B
1  0  0    0
2  0  1    0
3  1  0    0
4  1  1    1

In [86]:
import pandas as pd
a = {"A":[0,0,1,1],"B":(0,1,0,1),"A&B":(0,1,1,1)}
a=pd.DataFrame(a,index=[1,2,3,4])
print("Truth table for or operator")
a

Truth table for or operator

   A  B  A&B
1  0  0    0
2  0  1    1
3  1  0    1
4  1  1    1

In [105]:
import pandas as pd
a = {"A":[0,1],"NOT-A":[1,0]}
a=pd.DataFrame(a,index=[1,2])
print("Truth table for not operator")
a

Truth table for not operator

   A  NOT-A
1  0      1
2  1      0

### 4. What are the values of the following expressions?

###### the values of the expressions are:

In [89]:
(5 > 4) and (3 == 5)

False

In [90]:
not (5 > 4)

False

In [91]:
(5 > 4) or (3 == 5)

True

In [92]:
not ((5 > 4) or (3 == 5))

False

In [93]:
(not False) or (not True)

True

### 5. What are the six comparison operators?

###### the six comparison operators are `==`,`!=`,`>`,`<`,`>=`and `<=`

###### the are:
######    `==` - equal to
######    `!=` - not equal to
######    `>` - greater than 
######    `<` - lesser than
######    `>=` - greather than or equal to

### 6. How do you tell the difference between the equal to and assignment operators?Describe a condition and when you would use one.

###### the main diffrence between the equal to and assiginment operator is that equal to is a comparision operator and `=` is a assiginment operator .`=` is used to copy the right side value to the left side variable and `==` is used to compare compare to values and returns boolean values

### 7. Identify the three blocks in this code:

In [95]:
spam=0
if spam==10:
    print("eggs")
if spam>5:
    print("bacon")
else:
    print("ham")
    print('spam')
    print('spam')

ham
spam
spam

###### the blocks are `if spam=10`,`if spam>5` and `else` block

### 8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.

In [97]:
spam=int(input())
if spam==1:
    print("Hello")
elif spam==2:
    print("Howdy")
else:
    print("Greetings!")

2
Howdy

### 9.If your programme is stuck in an endless loop, what keys you’ll press?

###### if your are stuck in endless loop you can press `ctrl+c` to stop the loop

### 10. How can you tell the difference between break and continue?

###### `break` is the keyword that breaks the flow of the loop and control comes out of the loop where as `continue` only stops the respective iteration based on the condition and continues to the next iteration

### 11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

###### in the above there is only the syntax difference between range(10),range(0,10) and range(0,10,1) but the logic is same in all the expressions.
###### In first expression `range(10)` it defines the end limit for itterator i.e 10-1=9,with default start value with 0, and in second one `range(0,10)` the start value for itterator is 0 and end is 10-1 i.e 9, and in last expression the `range(0,10,1)` the start value is 0 and end value is 10=1 i.e 9 and the jump sequence is 1 
###### all the expressions give same logic

### 12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.

In [102]:
#program to print 1-10 using for loop
for x in range(1,11):
    print(x,end=" ")

1 2 3 4 5 6 7 8 9 10

In [104]:
#program to print 1-10 using while loop
i=1
while i<11:
    print(i,end=" ")
    i+=1

1 2 3 4 5 6 7 8 9 10

### 13. If you had a function named bacon() inside a module named spam, how would you call it after importing spam?

In [ ]:
#calling the bacon function in module spam
import spam as sp
sp.bacon()
#or
from spam import bacon as bc
bc()